.btn .btn-success {
    color: red;
}
.dashboard__datepicker__inputs {
    display: none;
    &__trigger {
        margin-right: 10px;
     }

     &__applyBtn {
        color: red;
      }
}
.header__badge {
    margin: -5px 0 0 5px;
}